<%= partial "head" %>
  <body>
  <a href="#main" class="skip">Skip to Main Content</a>
   <div id="wrap">
      <header id="head">
        <%= partial "header" %>
      </header>
      <main>
        <article>
        <%= yield %>
        </article>
        <aside>
          <%= partial "sidebar" %>
        </aside>
      </main>
      <footer>
        <%= partial "footer" %>
      </footer>
    </div>
  </body>
</html>
