<%= partial "head" %>
  <body>
   <div id="wrap">
      <header id="image">
        <%= partial "header" %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <aside>
        <%= partial "sidebar" %>
      </aside>
      <footer>
        <%= partial "footer" %>
      </footer>
    </div>
  </body>
</html>
